.search-bar {
  width: 60%;
  display: flex;
  order: -1;

  &__input {
    width: 90%;
    color: $color-white;
    background: transparent;
    border: 2px solid $color-gray;
    border-radius: 10px;
    outline: none;
    padding: 0.5rem 1.5rem;

    &:focus {
      box-shadow: 0 0 0pt 1pt $color-primary;
    }
    &.animate {
      animation: showInput 1s ease-in 1.5s forwards;
    }
  }

  &__btn {
    margin-left: auto;
    font-size: 5rem;
    color: $color-gray;

    &.animate {
      animation: showBtn 1s ease-in 1.5s forwards;
    }
    &:hover {
      color: $color-primary;
    }
  }
}
